/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* font styles */
h1{
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #09A599;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}
/* Body */
body{
   display: flex; 
   justify-content: center;
   margin-top: 50px;
}

data{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}


.layout {
  /* Flexbox   */
  display: flex;
  flex-direction: column;
  align-content: center;
 
}

/* Widgets */
section {
  display: flex;
  padding: 1em;
  border-radius: 30px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #09A599;
  flex-direction: column;
 /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  order:3;
/* text styling */
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;

}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  order: 2;
  /* font styling */
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  order: 1;
}

.city {
  
}

.temp {
  
}

.weather img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
