/* Body */
body{
   display: flex; 
   justify-content: center;
}


.layout {
  /* Flexbox   */
  display: flex;
  flex-direction: column;
  align-content: center;
 
}

/* Widgets */
section {
  display: flex;
  background: lightgray;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  order:2:
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  order: 1;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  order: 3;
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
